{% extends "layout.html" %}
{% block body_content %}
	<div class="container">
		<h2>Portfolio (${{ value }})</h2>
		<div class="row">
			<div class="col s12">
				<div class="card col s7 grey lighten-5">
					<div class="card-content">
						<table class="highlight flow-text">
							<thead>
						  		<tr>
							  		<th>Symbol</th>
							  		<th># of Shares</th>
									<th class="right-align">Value</th>
								</tr>
							</thead>
							<tbody>
								{% for stock in stocks %}
									{% if stock['change_sign'] == 1 %}
										<tr class="green-text text-lighten-2">
									{% elif stock['change_sign'] == -1 %}
										<tr class="red-text text-lighten-2">
									{% else %}
										<tr class="grey-text text-lighten-1">
									{% endif %}
									<td>{{ stock['symbol'] }}</td>
									<td>{{ stock['count'] }}</td>
									<td class="right-align">{{ "$%.2f"|format(stock['value']) }}</td>
							  	</tr>
							  	{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<form method="post" class="col s3 offset-s1">
					{{ form.hidden_tag() }}
					<h4>Cash - ${{ balance }}</h4>
					{{ form.ticker.label }}
					{{ form.ticker }}
					{{ form.quantity.label }}
					{{ form.quantity(type="number", min=0) }}
					<input class="waves-effect waves-light btn" type="submit" value="Buy" />
				</form>
			</div>
		</div>
	</div>
{% endblock %}
